@import '~@evan.network/ui/src/style/utils';

.wrapper {
  height: 100%;
  overflow: auto;
  margin: -32px;
  padding: 32px;
}

.panel-footer {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid cssVar('border-color-2');
  bottom: 0;
  left: 0;
  position: absolute;
  background: cssVar("bg-level-1");

  &.relative {
    position: relative;
    padding: 24px 0;
  }

  button.btn-primary {
    width: 100%;
    margin-left: 20px;
  }
}
